.ViewRowEstudo_view{
    padding: .5rem;
}

.ViewRowEstudo_groupActions{
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-right: 1rem;
}

.ViewRowEstudo_view:hover{
    background-color: aquamarine !important;
    color: blue;
}


.ViewRowEstudo_view:nth-child(even){
    background-color: #eee;
}

.ViewRowEstudo_spanVerVersiculos,
.ViewRowEstudo_spanAdicionarVersiculos,
.ViewRowEstudo_spanEditarTitulo,
.ViewRowEstudo_spanExcluirEstudo{
    margin-right: 1rem;
}

.ViewRowEstudo_txtTitulo{
    display: inline-block;
    width: calc(100% - 13rem);
    text-align: justify;
    cursor: pointer;
}

.ViewRowEstudo_formEditarTitulo{
    margin: .5rem auto;

    display: none;
}

.ViewRowEstudo_inputEditarTitulo{
    height: 2.3rem;
    margin-right: .5rem;
    width: calc(100% - 7.2rem);
}

.ViewRowEstudo_hasAnotacao{
    color: green;
}

.ViewRowEstudo_btnSaveTitulo{
    margin-right: 1rem;
}

